/* font  */
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Shared section for all the pages */
.btn {
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

/* Header part  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 160px;
}

.nav-title {
    color: #4E47FF;
    font-weight: 900;
    font-size: 34px;
}
.header-bg {
    /* background-color: #2a0303; */
    background-image: url('../Assets/Hero-bg.png');
    /* background-repeat: no-repeat; */
    /* max-width: 100%; */
}
.banner-container {
    text-align: center;
    padding: 100px 350px;
    /* max-width: 100%; */
}
.btn-algn {
    margin-top: 37px;
}
.banner-text {
    color: black;
    font-size: 65px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0px;
    /* padding: 100px 350px; */
}


/* Action section */
.action {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: auto;
    padding: 0px 120px;
    align-items: center;
    margin: 0px auto;
}

.action-container-text {
    /* width: 50%; */
    /* padding: 0px 100px; */
    /* justify-content: center; */
}
.action-container-text h3{
    font-size: 48px;
    font-weight: 800;
    text-align: left;
    color: black;
    margin: 0px 0px;
}
.action-container-text p{
    color: #252432;
    font-size: 24px;
    margin-top: 23px;
    margin-bottom: 23px;
}
.section-container {
    padding: 100px 160px;
}

.action-img {
    border-radius: 48px;
    width: 403px;
    height: 328px;
}

/* productive user section */
.productive-users {
    max-width: 1140px;
    padding: 50px 80px;
    background-color: #c7bcf16b;
    margin: 0px auto;
    border-radius: 24px;
}

.product-list ul {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.product-title {
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    color: black;
    margin: 0px;
}

.item-title {
    font-size: 80px;
    font-weight: 800;
    color: #4E47FF;
    text-align: center;
    margin: 0px;
}

.item-text {
    /* text-align: center; */
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0px;
    text-align: center;
}
.list-items {
    flex: 1;
    text-align: center;
}

/* Users Feedback section */
.users-feedback {
    /* justify-content: center; */
    align-items: left;
    padding: 100px 160px;
    margin: 0px 50px;
}
.users-feedback h2{
    font-weight: 800;
    font-size: 42px;
    text-align: center;
    padding-bottom: 50px;
    padding-bottom: 0px;
}

.feedback-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content:space-between; */
    /* align-items: center; */
    gap: 20px;
    padding: 24px;
}
.feedback-content {
    width: 420px;
    height: fit-content;
    /* align-items: center; */
    text-align: left;
    background-color: white;
    border-radius: 14px;
    padding: 0px 24px;
    border: 1px solid rgb(208, 208, 208);
    box-shadow: 0px 2px 4px rgba(244, 244, 244, 0.3);
    box-sizing: border-box;
}

.icons ul {
    list-style: none;
    display: flex;
    size: 20px;
    gap:1px;
    padding: 0;
    margin: 24px 0px;

}
.users-feedback-title {
    font-size: 24px;
    text-align: left;
    margin-bottom: 8px;
}

.users-feedback-text {
    font-size: 16px;
    text-align: left;
}
.user-info {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
}
.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-name {
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    font-weight: 600;
    margin: 4px;
}
.date {
    color: rgba(179, 179, 179, 1);
    font-size: 16px;
    margin: 4px;
}